@import url('https://fonts.googleapis.com/css?family=Lato|Oswald');

body{
  font-family: 'Lato', sans-serif;
  margin: 25px;
  background-color: #ace5ee;
}
header{
  background-color: #fff;
  padding: 20px;
}
h1,h2,h3,h4,h5,h6{
  font-family: "Oswald", sans-serif;
  letter-spacing: 1px;
}
h2{
  border-bottom: 2px solid #1F618D;
  padding-bottom: 15px;
  margin-top: 40px;
}
a{
  color: #cb4154;
  text-decoration: none;
}
a:hover{
  color: #cc0000;
}
.column-1 {
  /*background-color: blue;*/
  display: inline-block;
  vertical-align: top;
  width: 45%;
  padding: 15px;
}

.column-2 {
  /*background-color: pink;*/
  display: inline-block;
  vertical-align: top;
  width:45%;
  padding: 15px;
}

details{
  background: #000;
  color: #fff;
}
code{
  color: #66ff00;
}

#octocat{
  padding: 20px 10px;
}

#octocat img{
  max-width: 250px;
}
#octocat img:hover{
  -webkit-filter: hue-rotate(90deg); /* Safari */
   filter: hue-rotate(90deg);
}

footer{
  background: #999;
  padding: 20px;
  font-size: .8em;
  font-style: italic;
}